<div class="container rounded d-flex flex-column justify-content-center align-items-center" id="contenedor">
    
    <img class="m-5" [src]="img ? img: studioForm.controls['imgPath'].value">    
    
    <form class="m-5" [formGroup]="studioForm" (ngSubmit)="onFormSubmit()">

        <div class="fs-4">
            Name:
            <input type="text" [formControlName]="'name'" class="form-label">
            <label *ngIf="studioForm.controls['name'].invalid" [ngClass] = "'error'"> Name required with min 3 chars and max 15 character. </label>
        </div>
        <div class="fs-4">
            Employees:
            <input type="number" [formControlName]="'employees'" class="form-label">
            <label *ngIf="studioForm.controls['employees'].invalid" [ngClass] = "'error'"> Employee required with min 3 chars and max 15 character. </label>
        </div>
        <div class="fs-4">
            Foundation:
            <input type="date" [formControlName]="'foundationDate'" id="fechaAsignada" class="form-label">
            <label *ngIf="studioForm.controls['foundationDate'].invalid" [ngClass] = "'error'"> Foundation required with min 3 chars and max 15 character. </label>
        </div>

        <div>
            <app-upload (onUploadFinished)="setImgPath($event)"></app-upload>
        </div>
    
        <div class="d-flex justify-content-center pt-5">
            <button type="submit" class="btn btn-dark fs-6 me-2">Submit</button>
            <button type="button" (click)="goBack()" class="btn btn-dark fs-6">Go back</button>
        </div>
    </form>
</div>

