<div class="container rounded d-flex flex-column justify-content-center align-items-center" id="contenedor">
    <div class="m-5">
        <div class="col-12 d-flex justify-content-center pb-5">
            <button class="btn btn-dark btn-lg text-white">
                <a routerLink="/videogames">
                    Videogames
                </a>
            </button>
        </div>
        <div class="col-12 d-flex justify-content-center pb-5">
            <button class="btn btn-light btn-lg">
                <a routerLink="/engines">
                    Engines
                </a>
            </button>
        </div>
        <div class="col-12 d-flex justify-content-center pb-5">
            <button class="btn btn-dark btn-lg">
                <a routerLink="/studios">
                    Studios
                </a>
            </button>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-light btn-lg">
                <a routerLink="/genres">
                    Genres
                </a>
            </button>
        </div>
    </div>
</div>

  